﻿

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    background: #262626;
    overflow-x: hidden;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

a:hover,
a:focus {
    color: #4676fa;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn-common {
    border: 2px solid #4676fa;
    background-color: #4676fa;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    margin: 12px;
}

.btn-common:hover {
    color: #4676fa;
    background-color: transparent;
    border: 2px solid #4676fa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.btn-border {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}

.btn-border:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #4676fa;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 10px;
    text-transform: capitalize;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 5;
}

ul li,
ol li {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
    padding-left: 5px;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a:not([href]):not([tabindex]) {
    color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #4676fa;
}

.section {
    padding: 80px 0;
}

.section-header {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    font-weight: 100;
    color: #fff;
    position: relative;
}

.section-header .section-title span {
    color: #4676fa;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #346afe;
    margin-top: 15px;
}

.section-header .lines:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    top: -6px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #4676fa;
    left: 31px;
}

pre {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
}

code {
    color: #f2f2f2;
    border: 1px solid #BCBEC0;
    padding: 2px;
}

pre code {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    padding: 2px;
}

iframe {
    border-width: 0px;
}


/* ==========================================================================
   Accordion Style
   ========================================================================== */

.accordion-body {
    background: #4c4c4c;
}

.accordion-body h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-left: 10px;
}

.accordion-body p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 10px;
}

.accordion-btn {
    position: relative;
}

.accordion-btn:before {
    position: absolute;
    content: "+";
    right: 10px;
    top: 5px;
}

.accordion-btn[aria-expanded="true"]:before {
    content: "-";
}

#blog .blog-item-img {
    position: relative;
}


/* ==========================================================================
   Blog 
   ========================================================================== */

#blog .blog-item-wrapper {
    background: #333;
    margin-bottom: 30px;
    width: 100%
}

#blog .blog-item-wrapper:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

#blog .blog-item-wrapper:hover .blog-item-img:before {
    opacity: 1;
    height: 100%;
    width: 100%;
}

#blog .blog-item-img {
    position: relative;
}

#blog .blog-item-img img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

#blog .blog-item-img:before {
    width: 50%;
    height: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(70, 118, 250, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#blog .blog-item-text {
    padding: 20px;
}

#blog .blog-item-text .meta-tags {
    margin-bottom: 10px;
}

#blog .blog-item-text .meta-tags span {
    color: #999;
    margin-right: 10px;
}

#blog .blog-item-text .meta-tags span i {
    margin-right: 5px;
}

#blog .blog-item-text .meta-tags span a {
    color: #999;
}

#blog .blog-item-text .meta-tags span a:hover {
    color: #4676fa;
}

#blog .blog-item-text h3 {
    line-height: 26px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

#blog .blog-item-text h3 a {
    color: #333;
}

#blog .blog-item-text h3 a:hover {
    color: #4676fa;
}

#blog .blog-item-text p {
    line-height: 25px;
    margin-bottom: 20px;
}

#blog .blog-item-text h4 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
}

#blog .blog-item-text img.img-fluid {
    padding-bottom: 15px;
}


/* ==========================================================================
   Hero Area Style
   ========================================================================== */

#hero-area {
    background: url(https://xlabs-mirror.gitlab.io/xlabs.dev/img/hero-area.jpg) fixed no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #4676fa;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#hero-area .contents {
    padding: 160px 0 80px;
}

#hero-area .contents h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 25px;
}

#hero-area .contents p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#hero-area .contents .btn {
    margin: 20px 10px;
    text-transform: uppercase;
}

#hero-area .banner_bottom_btn {
    margin-top: 40px;
}

#hero-area .banner_bottom_btn i {
    color: #fff;
    font-size: 48px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#hero-area .banner_bottom_btn i:hover {
    color: #4676fa;
}


/* ==========================================================================
   Slider Area
   ========================================================================== */

#slider-area {
    margin-top: -1px;
}

#slider-area h1 {
    font-weight: 100;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

#slider-area p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

#slider-area .sticky-navigation {
    background: transparent;
}

#slider-area .btn {
    margin-right: 15px;
}

#slider-area .large_white {
    color: #fff;
}


/* ==========================================================================
   Video Background
   ========================================================================== */

#video-area {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

#video-area .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#video-area .contents {
    /*padding: 160px 0 80px;*/
    backdrop-filter: blur(30px) saturate(1.5);
    width: 100%;
    padding: 1vmax;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: rgba(0, 0, 0, 0.3);
}

#video-area .contents h1,
#video-area .contents p {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#video-area .contents h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    /*margin-bottom: 275px;*/
    line-height: 70px;
}

#video-area .contents p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#video-area .contents .btn {
    margin: 20px 10px;
}

#video-area .banner_bottom_btn {
    margin-top: 40px;
}

#video-area .banner_bottom_btn i {
    color: #fff;
    font-size: 48px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#video-area .banner_bottom_btn i:hover {
    color: #4676fa;
}

.overlay-2 {
    background: rgba(0, 0, 0, 0.7) !important;
}


/* ==========================================================================
   Support Section Style
   ========================================================================== */

#support {
    position: relative;
    background: #000000;
}

.item-boxes {
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.item-boxes .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #4676fa;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-boxes .icon i {
    font-size: 30px;
    line-height: 60px;
    color: #4676fa;
}

.item-boxes h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.item-boxes p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.item-boxes:hover {
    background: #4c4c4c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#Features {
    position: relative;
    background: #f2f2f2;
}

.tutorial ol li {
    margin-bottom: 15px;
    margin-top: 15px;

}

.tutorial-warning {
    border: 4px dashed yellow;
    padding: 20px;
    margin-bottom: 20px;
}

.tutorial-warning b, .tutorial ol li b {
    font-weight: bold;
}


/* ==========================================================================
   Features Section Style
   ========================================================================== */

#Features {
    background: #fff;
}

#Features .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#Features .content-left {
    position: relative;
    top: 60px;
}

#Features .content-left span {
    float: right;
    margin-left: 25px;
}

#Features .content-right {
    position: relative;
    top: 60px;
}

#Features .content-right span {
    float: left;
    margin-right: 25px;
}

#Features .box-item {
    padding-bottom: 30px;
}

#Features .box-item .icon {
    border: 1px solid #4676fa;
    text-align: center;
    margin: 12px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#Features .box-item .icon i {
    color: #4676fa;
    font-size: 24px;
    line-height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*   Testimonial Section Style
   ========================================================= */

#testimonial x-item .text p {
    font-size: 14px;
    line-height: 26px;
}

#Features .box-item:hover .icon {
    background: #4676fa;
}

#Services .box-item:hover .icon i {
    Features: #ffffff;
}

#Features .show-box {
    padding: 80px 0px 0px;
}

#Features .show-box img {
    width: 100%;
}


/* ==========================================================================
   Testimonial Section Style
   ========================================================================== */

.testimonial-item {
    text-align: center;
}

.testimonial-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial-item .testimonial-text h3 {
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}

.testimonial-item .testimonial-text span {
    font-size: 15px;
    color: #999;
}

.testimonial-item .testimonial-text p {
    font-size: 14px;
    font-weight: 400;
    padding: 20px 10px 20px 10px;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.5;
    color: #fff;
}

.owl-theme .owl-controls .owl-page span {
    background: #4676fa;
}

.owl-theme .owl-controls {
    margin-top: 20px;
}

#toc_container {
    background: 000000 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: 100%;
}

.toc_title {
    font-weight: 600;
    text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style: outside none none !important;
}


/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.fixed-top {
    background-color: #333 !important;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    border-radius: 3px;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #FFF;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #FFF;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #f2f2f2 !important;
}

.nav-item.active .nav-link {
    color: #fff !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.nav-item:hover .dropdown-menu {
    display: block;
    margin: 0;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: #FFF;
}

.dropdown-item:hover {
    background-color: #6c757d;
}

.nav-item {
    margin-bottom: 0;
}


/* ==========================================================================
   Footer Style
   ========================================================================== */

footer {
    background: #333;
    padding: 60px 0px 30px;
    text-align: center;
}

.site-info p {
    line-height: 34px;
    color: #fff;
}

.site-info p a {
    color: #fff;
}

.site-info p a:hover {
    color: #4676fa;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons ul li {
    display: inline;
}

.social-icons ul li a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 254, 254, 0.07);
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

.social-icons ul li a:hover {
    color: #ffffff;
}

.facebook a {
    color: #4867aa;
}

.facebook a:hover {
    background: #4867aa;
}

.twitter a {
    color: #1da1f2;
}

.twitter a:hover {
    background: #1da1f2;
}

.google-plus a {
    color: #dd4d42;
}

.google-plus a:hover {
    background: #dd4d42;
}

.youtube a {
    color: #df2926;
}

.youtube a:hover {
    background: #df2926;
}

.linkedin a {
    color: #007bb6;
}

.linkedin a:hover {
    background: #007bb6;
}

.patreon a {
    color: #FF424D;
}

.patreon a:hover {
    background: #FF424D;
}

.github a {
    color: #121212;
}

.github a:hover {
    background: #121212;
}

.discord a {
    color: #7289da;
}

.discord a:hover {
    background: #7289da;
}

.pinterest a {
    color: #bd081c;
}

.pinterest a:hover {
    background: #bd081c;
}

.dribbble a {
    color: #ea4c89;
}

.dribbble a:hover {
    background: #ea4c89;
}

.behance a {
    color: #0b7cff;
}

.behance a:hover {
    background: #0b7cff;
}

.subscribe-box {
    margin-top: 18px;
}

.btn.patreon-button {
    background-color: #FF424D;
    border: 2px solid #FF424D;
}

.btn.patreon-button:hover {
    color: #FF424D;
    background-color: transparent;
    border: 2px solid #FF424D;
}

.subscribe-box input[type="text"] {
    color: #444;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
}

.subscribe-box input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background: #4676fa;
    text-transform: uppercase;
    border: none;
    padding: 7px 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #4676fa;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999999;
}

.spinner {
    width: 40px;
    height: 40px;
    top: 45%;
    position: relative;
    margin: 0px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4676fa;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

#panorama {
    position: absolute;
    z-index: -1;
    inset: 0px;
    overflow: hidden;
}


/* ==========================================================================
   Curtain Style
   ========================================================================== */

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #262626;
    opacity: 1;
    transition: opacity 300ms ease-out;
    z-index: 999999999999;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#curtain .row {
    margin: auto;
    text-align: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.anchor {
    padding-top: 90px;
}

.table-fixed {
    width: 100%;
}


/* This will work on every browser but Chrome Browser */

.table-fixed thead {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 35px;
    z-index: 5;
    background-color: #343a40;
    color: #fff;
}


/* This will work on every browser */

.table-fixed thead th {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 35px;
    z-index: 5;
    background-color: #343a40;
    color: #fff;
}


/* YT CTAs */

.yt {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.yt iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* Hide certain table values (console_commands) on mobile */

@media only screen and (max-width: 999px) {
    .table-collapsible {
        display: none !important;
    }
}

a>i {
    padding-right: 10px;
}

/*
     FILE ARCHIVED ON 23:22:42 Apr 29, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:36:19 May 24, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 86.789
  exclusion.robots: 0.138
  exclusion.robots.policy: 0.125
  cdx.remote: 0.069
  esindex: 0.01
  LoadShardBlock: 57.797 (3)
  PetaboxLoader3.datanode: 478.053 (5)
  load_resource: 567.905 (2)
  PetaboxLoader3.resolve: 95.413 (2)
*/